<!-- <section class="w3l-homeblock1 py-sm-5 py-4">
  <div class="container py-md-4">
    <div class="grids-area-hny main-cont-wthree-fea row">
      <homeblockcategory class="col-lg-3 col-6 grids-feature">
   </homeblockcategory> 
    </div>
  </div>
</section> -->

<section class="w3l-homeblock1 py-sm-5 py-4">
  <div class="container py-md-4">
      <div class="grids-area-hny main-cont-wthree-fea row">
        <homeblockcategory *ngFor="let obj of homeBlockCM"  [category]="obj.category_name" [img]="obj.img" class="col-lg-3 col-6 grids-feature"></homeblockcategory>
       

          <!-- <div class="col-lg-3 col-6 grids-feature">
              <a href="#beauty.html">
                  <div class="area-box">
                    <img width="20%" height="10%" src="./assets/img/interview.png">
                      <h4 class="title-head">General</h4>
                  </div>
              </a>
          </div>
          <div class="col-lg-3 col-6 grids-feature">
              <a href="#fashion.html">
                  <div class="area-box">
                    <img width="20%" height="10%" src="./assets/img/sports.png">
                    <h4 class="title-head">Sports</h4>
                  </div>
              </a>
          </div>
          <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
              <a href="#food">
                  <div class="area-box">
                        <img width="20%" height="10%" src="./assets/img/handshake.png">
                      <h4 class="title-head">Business</h4>
                  </div>
              </a>
          </div>
          <div class="col-lg-3 col-6 grids-feature mt-lg-0 mt-md-4 mt-3">
              <a href="#lifsetyle">
                  <div class="area-box">
                    <img width="20%" height="10%" src="./assets/img/technology.png">
                      <h4 class="title-head">Technology</h4>
                  </div>
              </a>
          </div> -->
      </div>
  </div>
</section>
<!-- //homeblock1-->