
<ngb-carousel>
  <ng-template ngbSlide *ngFor="let x of news, let i = index">
        <div class="card border-0 rounded-0 col-md-12 col-12 text-light overflow zoom">
            <div class="position-relative ">
                
                <div class="ratio_left-cover-1 image-wrapper">
                    <a href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                        <img class="d-block img-fluid "
                             [src]="x.urlToImage"
                             alt="Bootstrap blog template">
                    </a>
                </div>
                <div class=" position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <a [href]="x.url">
                        <h2 class="h3 post-title text-white my-1">{{x.title}}</h2>
                    </a>
                    <div class="news-meta mb-5">
                        <span class="news-author">by <a class="text-white font-weight-bold" >{{x.author}}</a></span>
                        <span class="news-date ms-3">{{x.publishedAt}}</span>
                    </div>
                </div>
            </div>
        </div>
  </ng-template>
</ngb-carousel>
