<!------ Include the above in your HEAD tag ---------->

<!--Container-->
<section class="w3l-testimonials" id="testimonials">

<div class="container">
  <div class="row mb-2">
    <div class="col-12 text-center pt-3">

    </div>
  </div>

  <!--Start code-->
  <div class="row">
    <div class="col-12 pb-5">
      <!--SECTION START-->
      <section class="col">
        <!--Start slider news-->

        <div class="col-12 md-6 pb-0 pb-md-3 pt-2 pr-md-1">
         <slider></slider>
        </div>

          <p class="text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"
                    aria-controls="multiCollapseExample1">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"/>
              </svg>
            </button>
          </p>


            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <app-news-expanded></app-news-expanded>

            </div>

        <!--End box news-->
      </section>
      <!--END SECTION-->
    </div>
  </div>

</div>
</section>
