<div class="container1">
<h1>Books and Movies Recommendations</h1>  
<img src="./assets/images/filmreel.png" class="cinema1">
</div>
<div class="container">
 <div class="card mb-3" style="max-width: 540px;" id="card">
    <div class="row g-0"> 
      <div class="col-md-4">
        <img src="./assets/images/pinkbook.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Books</h5>
          <p class="card-text">Looking for a captivating read? Check out these book recommendations</p>
          <p class="card-text"><small class="text-muted">Whether you're a fan of mystery, romance, or historical fiction, these recommendations will indeed satisfy your literary cravings.</small></p>
        </div>
      </div>
    </div>
  </div> 
  <!-- <img src="./assets/images/chilling.jpg" class="cinema"> -->

  <div class="card mb-3" style="max-width: 540px;" id="card">
    <div class="row g-0"> 
      <div class="col-md-4">
        <img src="./assets/images/movies.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
       <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Movies</h5>
          <p class="card-text">Searching for a great movie to watch tonight? Look no further!</p>
          <p class="card-text"><small class="text-muted">Check out the latest blockbusters that will leave you entertained.</small></p>
        </div>
      </div>
    </div>
  </div> 
 </div>

  


  <hr class="separator">